.site {
    border: 10 * $px solid #ffffff;
    border-top: none;
}

.site-header {
    background: $color__background-header;
    margin-bottom: 10 * $px;
    position: relative;
}

.site-branding {
    display: inline-block;
}

.site-description {
    text-align: right;
}

.site-logo-link {
    float: left;
}

.wp-post-image {
    display: block;
    width: 100%;
}

#menu-main-category-filter li {
    display: inline-block;
}